<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HealthExchange</title>
<link rel="icon" href="{{ url_for('static',filename='pics/favicon.png') }}" type="image/x-icon"/>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/one-page-wonder.min.css') }}" rel="stylesheet">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

   <!-- Fa-Fa -->
  <script src="https://kit.fontawesome.com/301b488078.js" crossorigin="anonymous"></script>
   <!-- Easy-Button -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

  <style>
  input[type=text] {
    border: 3px solid #ddd;
    width: 500px;
  }
  input[type=text]:focus {
    border: 3px solid #555;
  }
  textarea{
    border: 3px solid #ddd;
    width: 500px;
    height: 150px;
  }
  input[type=submit]{
    background-color: purple;
    width: 150px;
    font-size: 25px;
    color: white;
  }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/index">HealthExchange</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
    {% if username %}
      <li class="nav-item">
          <a class="nav-link" href="/requestaid">Request aid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sendaid">Send aid</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout: {{ username }} </a>
      </li>
	  {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
	  {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="color: #75407a">Post information<br/></h2><br/><br/>
              <form action="{{ url_for('handle_info') }}" method="post">
                <h3><label for="title">Title</label></h3><br/>
                <input type="text" name="title" placeholder="  Title" required><br />
                <h3><br/><label for="description">Description</label></h3>
                <textarea name="description" placeholder="Describe your findings here!" required></textarea><br/><br/>
                <input type="submit" value="Submit" width="100px">
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4" style="color: #75407a">Browse information</h2>
            <p style="text-align: justify;">Browse the information provided by these, felow medical institutions:<br/><br/></p>
            {% for event in events %}
            <h3>{{ event[5] }}</h3>
            <br />
            <h3>{{ event[4] }}</h3>
            <h4>{{ event[0] }}</h4>
            <p>{{ event[3] }}</p>
            <b>Contact:</b> <a href="mailto:{{event[1]}}">{{ event[1] }}</a>, {{ event[2] }}
            <hr/>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Kajetan Knopp 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/map.js') }}"></script>

</body>

</html>
